<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653791542554-48gp0kl09qji55thf88eo37hngudbjqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653791542554-48gp0kl09qji55thf88eo37hngudbjqs</string>
	<key>API_KEY</key>
	<string>AIzaSyBntGqAf591OUPnqV6M94kzWZM--kmJSzo</string>
	<key>GCM_SENDER_ID</key>
	<string>653791542554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.kz23szk.shogiBoard</string>
	<key>PROJECT_ID</key>
	<string>learning-shogi</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-shogi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653791542554:ios:bc36b41e1e58303f2ec0a3</string>
	<key>DATABASE_URL</key>
	<string>https://learning-shogi.firebaseio.com</string>
</dict>
</plist>